---
import { getCollection, render } from "astro:content";
import EpLayout from "../layouts/EpLayout.astro";
import TableOfContents from "../components/TableOfContents.astro";
import { hisMetadata } from "@/metadata.ts";
import AudioPlayer from "@/components/AudioPlayer.astro";
import Footer from "@/components/Footer.astro";
import Subscribe from "@/components/Subscribe.astro";

export async function getStaticPaths() {
  const podcastEntries = await getCollection("podcast");

  // Pre-render content at build time
  const pages = await Promise.all(
    podcastEntries.map(async (entry) => {
      const slug = entry.id.split("/").pop();
      const { Content, headings } = await render(entry);
      const h4Headings = headings.filter((h) => h.depth === 4);

      return {
        params: { slug },
        props: {
          slug,
          Content,
          headings: h4Headings,
          frontmatter: entry.data,
        },
      };
    }),
  );

  return pages;
}

const { slug, Content, headings, frontmatter } = Astro.props;
---

<EpLayout frontmatter={frontmatter} slug={`/${slug}`}>
  <div class="mx-auto px-4 py-7 flex flex-col lg:max-w-6xl">
    <a href="/"><h3 class="m-0">← {hisMetadata.title}</h3></a>
    <h2 class="text-4xl mt-5">{frontmatter.title}</h2>
    <Subscribe />
    <section class="episode-info text-sm text-gray-300">
      {
        frontmatter.date.toLocaleDateString("en-US", {
          year: "numeric",
          month: "long",
          day: "numeric",
        })
      }
      {frontmatter.time && ` • ${frontmatter.time} min 🎧`}
      {frontmatter.season && ` • Season ${frontmatter.season}`}
    </section>
    <div class="mx-auto py-7 flex lg:gap-12 flex-col lg:flex-row">
      <aside class="lg:w-[275px]">
        <TableOfContents headings={headings} />
      </aside>
      <main class="flex-1">
        <blockquote class="text-sm leading-relaxed">
          {frontmatter.description} ({frontmatter.time} min)
        </blockquote>
        <Content />
      </main>
    </div>
    <Footer />
    <AudioPlayer title={frontmatter.title} src={frontmatter.episodeLink} />
  </div>
</EpLayout>
