---
import AudioPlayer from '@/components/AudioPlayer.astro';

import Subscribe from '@/components/Subscribe.tsx';
import Support from '@/components/Support.tsx';
import Footer from '@/components/Footer.tsx';
import { hisMetadata } from "@/metadata.ts";
import BaseHead from '@/components/BaseHead.astro';

import '../styles/custom.css';

const { frontmatter, slug } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead
      title={frontmatter.title}
      description={frontmatter.description}
      slug={slug}
      embedUrl={frontmatter.embedUrl}
    />
  </head>
  <body>
    <div>
      <h3 style={{margin: 0}}>
          <a href="/">← {hisMetadata.title}</a>
      </h3>

      <h2>{frontmatter.title}</h2>

      <Subscribe />

      <section class="episode-info">
          {frontmatter.date}
          {frontmatter.time && ` • ${frontmatter.time} min 🎧`}
          {frontmatter.season && ` • Season ${frontmatter.season}`}
      </section>

      <blockquote>
          {frontmatter.description} ({frontmatter.time} min)
      </blockquote>

      <section class="content">
          <slot />
      </section>

      <Support />

      <Footer />

      <AudioPlayer
          title={frontmatter.title}
          src={`https://media.transistor.fm/${frontmatter.episodeLink}.mp3`}
      />
    </div>
  </body>
</html>
