---
import AudioPlayer from "@/components/AudioPlayer.astro";
import Subscribe from "@/components/Subscribe.astro";
import Footer from "@/components/Footer.astro";
import { hisMetadata } from "@/metadata.ts";
import BaseHead from "@/components/BaseHead.astro";

import "../styles/base.css";

const { frontmatter, slug } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead
            title={frontmatter.title}
            description={frontmatter.description}
            slug={slug}
            embedUrl={frontmatter.embedUrl}
        />
    </head>
    <body>
        <div class="max-w-3xl mx-auto px-5 py-7">
            <a href="/"
                ><h3 class="m-0">← {hisMetadata.title}</h3></a
            >

            <h2 class="text-4xl mt-5">{frontmatter.title}</h2>

            <Subscribe />

            <section class="episode-info text-sm text-gray-300">
                {frontmatter.date.toLocaleDateString('en-US', {
                    year: 'numeric',
                    month: 'long',
                    day: 'numeric',
                })}
                {frontmatter.time && ` • ${frontmatter.time} min 🎧`}
                {frontmatter.season && ` • Season ${frontmatter.season}`}
            </section>

            <blockquote class="text-sm leading-relaxed">
                {frontmatter.description} ({frontmatter.time} min)
            </blockquote>

            <section class="prose prose-invert max-w-none">
                <slot />
            </section>

            <Footer />
            <AudioPlayer
                title={frontmatter.title}
                src={frontmatter.episodeLink}
            />
        </div>
    </body>
</html>
